# Root Git Ignore Rules

# IDE and Editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.swo

# OS files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Logs and databases
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Local configuration / Env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*.local

# System/Temporary files
tmp/
temp/
dist-docker/
out/
build/
